html body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #fff!important;
}

.navbar {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 25px;
    color: #000!important;
}

.navbar-light .navbar-brand {
    font-size: 18px;
}